
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*Side menue*/
.SideBar{

  background-color: #A6DAFF;
  width: 22%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;


}
/* top logo*/
.Logo{
  width: 38%;
  height: 20%;
  position: absolute;
  top: 1%;
  left: 2%;
}
/*logo name*/
.LogoName{
  font-size: 250%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 6%;
  left: 34%;
}

/*Menue item 1*/
/*Menue item1 container*/
.Dashboard_Option_Container{
  width: 50%;
  height: 5%;
  border-radius: 16px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.Dashboard_Option_Container:hover{
  background-color: #0D5AC2;
}

.Dashboard_Option_Container:hover .DashboardIcon_White{
  opacity: 1;
}

.Dashboard_Option_Container:hover .DashboardIcon_Black{
  opacity: 0;
}

.Dashboard_Option_Container:hover .SideBar_Item1{
  color: white;
}

.DashboardIcon_Black{
  position: relative;
  top: 18%;
  left: 8%;
}

.DashboardIcon_White{
  position: relative;
  top: 18%;
  left: -9%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.SideBar_Item1{
  font-size: 120%;
  position: relative;
  top: -39%;
  left: 30%;
}

/*Menue item 2*/
/*Menue item2 container*/
.Profile_Option_Container{
  width: 50%;
  height: 5%;
  border-radius: 16px;
  position: absolute;
  top: 30%;
  left: 15%;
}

.Profile_Option_Container:hover{
  background-color: #0D5AC2;
}

.Profile_Option_Container:hover .UserIcon_White{
  opacity: 1;
}

.Profile_Option_Container:hover .UserIcon_Black{
  opacity: 0;
}

.Profile_Option_Container:hover .SideBar_Item2{
  color: white;
}

.UserIcon_Black{
  position: relative;
  top: 18%;
  left: 8%;
}

.UserIcon_White{
  position: relative;
  top: 20%;
  left: -8.5%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.SideBar_Item2{
  font-size: 120%;
  position: absolute;
  top: 30.5%;
  left: 30%;
}

/*Menue item 3*/
/*Menue item2 container*/
.Progress_Option_Container{
  width: 50%;
  height: 5%;
  border-radius: 16px;
  position: absolute;
  top: 40%;
  left: 15%;
}

.Progress_Option_Container:hover{
  background-color: #0D5AC2;
}

.Progress_Option_Container:hover .Chart_Line_White{
  opacity: 1;
}

.Progress_Option_Container:hover .Chart_Line_Black{
  opacity: 0;
}

.Progress_Option_Container:hover .SideBar_Item3{
  color: white;
}

.Chart_Line_Black{
  position: relative;
  top: 18%;
  left: 8%;
}

.Chart_Line_White{
  position: relative;
  top: 20%;
  left: -8.5%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.SideBar_Item3{
  font-size: 120%;
  position: absolute;
  top: 38%;
  left: 30%;
}

/*Menue item 4*/
/*Menue item2 container*/
.Chat_Option_Container{
  width: 50%;
  height: 5%;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 15%;
}

.Chat_Option_Container:hover{
  background-color: #0D5AC2;
}

.Chat_Option_Container:hover .MessageIcon_White{
  opacity: 1;
}

.Chat_Option_Container:hover .MessageIcon_Black{
  opacity: 0;
}

.Chat_Option_Container:hover .SideBar_Item4{
  color: white;
}

.MessageIcon_Black{
  position: relative;
  top: 18%;
  left: 8%;
}

.MessageIcon_White{
  position: relative;
  top: 20%;
  left: -8.5%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.SideBar_Item4{
  font-size: 120%;
  position: absolute;
  top: 28%;
  left: 30%;
}

/* side menue Sign out option*/
.LogoutIcon{
  position: absolute;
  top: 90%;
  left: 20%
}

.SignOutText{
  font-size: 120%;
  position: absolute;
  top: 90.5%;
  left: 30%;
}