.SideBar {
  background-color: #a6daff;
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  border: 1px #032f9f solid;
}

.NewChatBar {
  position: relative; /* Add this line to establish a positioning context for absolute positioning */
  background: #eff8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 265px;
  height: 45px;
  margin-top: 40px;
  margin-left: 25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 30px;
}

.logo {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.new-chat-text {
  position: absolute;
  margin-left: 82px;
  margin-top: -30.5px;
  color: black;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

.logo-image {
  margin-top: -60px;
  width: 100px;
  height: 100px;
  margin-left: -35px;
  margin-top: -76px;
}

.new-chat-logo {
  position: absolute;
  top: 10.4%; /* Adjust this value to vertically center the logo */
  left: 83%; /* Adjust this value to horizontally position the logo */
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.previous-session-text {
  color: #4f4848;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 25px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

.session {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 28px;
  margin-left: 20px;
  margin-right: 22px;
  margin-bottom: 20px;
}

.session-text {
  position: absolute;
  margin-top: -22px;
  margin-left: 100px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
}

.exit-button {
  background: #21a1fd;
  border-radius: 30px;
  margin-top: 230px;
  margin-left: 20px;
}

.exit-icon {
  margin-top: 5px;
  width: 16px;
  margin-left: -40px;
}

.exit-text {
  color: white;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: -19px;
}

.exit-button:hover {
  background-color: #0477c9;
}

.user-profile {
  position: absolute;
  width: 48%;
  height: 7%;
  background: #dbf0ff;
  border-radius: 6px;
  margin-left: 148px;
  margin-top: -37px;
}

.user-profile-circle {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  width: 35px;
  height: 35px;
  margin-left: 6px;
  margin-top: 2px;
}

.user-profile-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 8px;
}

.user-name-text {
  color: black;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: -23px;
}

.text-box-container {
  position: absolute;
  width: 74.83%;
  height: 7.9%;
  background-color: #a6daff;
  margin-top: 545px;
  margin-left: 310px;
}

#message-box {
  width: 90%;
  height: 45%;
  margin-top: 11px;
  margin-left: 26px;
  background: white;
  border-radius: 15px;
  border: 1px #0D5AC2 solid;
}

.send-button-circle {
  position: relative;
  margin-left: 890px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  width: 35px;
  height: 35px;
  margin-top: -30px;
}

.send-icon {
  width: 20px;
  margin-left: 10px;
  margin-top: 9px;
}
