@media screen and (min-width: 853px) and (max-width: 890px) {
  .top-container {
    width: 765px;
  }

  .top-bar {
    width: 765px;
  }

  .bottom-container {
    width: 765px;
  }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .top-container {
    margin-left: -190px;
    margin-right: 10px;
    height: 400px;
  }

  .bottom-container {
    margin-top: 450px;
    margin-left: -190px;
    margin-right: 10px;
    padding-right: 15px;
  }

  .title1 {
    font-size: 12px;
    margin-left: 25px;
  }

  .title2 {
    font-size: 16px;
    margin-left: 25px;
    margin-top: 2px;
  }

  .title3 {
    font-size: 12px;
    margin-left: 25px;
    margin-top: 5px;
  }

  .circle-image {
    width: 30px;
  }

  .title4 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .feature {
    margin-left: 50px;
    margin-top: -25px;
    font-size: 14px;
    padding-bottom: 5px;
  }

  .feature-container {
    margin-left: 20px;
    margin-top: 20px;
    width: 280px;
  }

  .chat-image {
    margin-top: 30px;
    width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
  .top-container {
    margin-left: -190px;
    margin-right: 10px;
    width: 300px;
  }
}

@media screen and (min-width: 425px) and (max-width: 766px) {
  .top-container {
    margin-left: -190px;
    width: 330px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 766px) {
  .top-container {
    margin-left: -190px;
    width: 330px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 870px) and (max-width: 1023px) {
  .top-container {
    margin-left: 2px;
  }

  .top-bar {
    margin: 2px;
    margin-top: 310px;
  }

  .bottom-container {
    margin-left: 2px;
  }
}

@media screen and (min-width: 870px) and (max-width: 968px) {
  .top-container {
    width: 765px;
  }

  .top-bar {
    width: 765px;
  }

  .bottom-container {
    width: 765px;
  }
}
