@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


/*Content Start*/

.ProgressReport__MenuIcon{
  position: absolute;
  top: 2%;
  left: 60%;
}

.ProgressReport_Topic{
  position: absolute;
  top: 2%;
  left: 25%;
  font-size: 190%;
  font-weight: 900;
}

.TopUserIcon{
  position: absolute;
  top: 3.5%;
  left: 90%;
}

.TopUserContent1{
  font-family:  'Poppins', sans-serif;
  position: absolute;
  top: 4.5%;
  left: 93%;
}

/*Top box Start*/
.ProgressReport_TopBox{
  width: 72%;
  height: 20%;
  background-color: #A6DAFF;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 24%;
}

.ProgressReport_TopBox_Image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  top: 0%;
  left: 0%;
}

.ProgressDelete_Button{
  position: absolute;
  top: 65%;
  left: 84%;
}

.ProgressReport_Date{
  font-family:  'Poppins', sans-serif;
  font-weight: bolder;
  position: relative;
  top: -80.5%;
  left: 4.5%;
  color: black;
}

.ProgressReport_Welcome_Text{
  font-family:  'Poppins', sans-serif;
  font-size: 180%;
  font-weight: bolder;
  position: relative;
  top: -60%;
  left: 4.2%;
  color: black;
}

.ProgressReport_Welcome_Text2{
  font-family:  'Poppins', sans-serif;
  position: relative;
  top: -62%;
  left: 4.5%;
  color: black;
}

/*Top Box end*/

/*Achievements start*/

.AchievementsImage{
  width: 2.5%;
  height: 4%;
  position: absolute;
  top: 35%;
  left: 25%;
}

.Achievements{
  font-family:  'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 125%;
  position: absolute;
  top: 35.5%;
  left: 28%;
}

.AchievementBox1{
  width: 20%;
  height: 24%;
  background-color: rgba(247.20, 247.20, 247.20, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.AchievementBox2{
  width: 20%;
  height: 24%;
  background-color: rgba(247.20, 247.20, 247.20, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.AchievementBox3{
  width: 20%;
  height: 24%;
  background-color: rgba(247.20, 247.20, 247.20, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 40%;
  left: 75%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.AchievementBox1_Topic{
  font-family:  'Poppins', sans-serif;
  position: absolute;
  top: 40%;
  left: 26%;
}

.AchievementBox2_Topic{
  font-family:  'Poppins', sans-serif;
  position: absolute;
  top: 40%;
  left: 51%;
}

.AchievementBox3_Topic{
  font-family:  'Poppins', sans-serif;
  position: absolute;
  top: 40%;
  left: 76%;
}

/*Graph pie chart start*/
/*Graph 1*/
.WeeklyEngagement_Chart {
  position: relative;
  top: 3%;
  left: 10%;
}

/*Graph 2*/



/*Graph pie chart end*/

/*Graph line chart start*/

#face1, #face2, #face3, #face4, #face5, #face6, #face7{
  width: 16px;
  height:16px;
}

#face1{
  position: absolute;
  top: 14%;
  left: 4%;
}

#face2{
  position: absolute;
  top: 24%;
  left: 4%;
}

#face3{
  position: absolute;
  top: 33%;
  left: 2.5%;
  width: 25px;
  height:23px;
}

#face4{
  position: absolute;
  top: 40%;
  left: 2%;
  width: 30px;
  height:40px;
}

#face5{
  position: absolute;
  top: 55%;
  left: 3%;
  width: 20px;
  height:20px;
}

#face6{
  position: absolute;
  top: 65%;
  left: 4%;
}

#face7{
  position: absolute;
  top: 71%;
  left: 2.5%;
  width: 25px;
  height:35px;
}

/*Graph line chart end*/

/*Achievements end*/

.ContentDivider{
  width: 70%;
  border-color: #D0D0D0;
  position: absolute;
  top: 65%;
  left: 25%;
}

/*Analytics start*/

.AnalyticsIcon{
  width: 2.5%;
  height: 4%;
  position: absolute;
  top: 68%;
  left: 25%;
}

.Analytics{
  font-family:  'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 125%;
  position: absolute;
  top: 68.5%;
  left: 28%;
}

.AnalyticsBox1{
  width: 25%;
  height: 24%;
  position: absolute;
  top: 73%;
  left: 35%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.AnalyticsBox2{
  width: 35%;
  height: 24%;
  position: absolute;
  top: 73%;
  left: 60%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.AnalyticsBox2_Topic{
  font-family:  'Poppins', sans-serif;
  position: absolute;
  top: 0%;
  left: 29%;
}

.AnalyticsBox1_Topic{
  position: absolute;
  top: 70%;
  left: 38%;
}

.DepressionLabel_box{
  position: absolute;
  top: 80%;
  left: 25%;
}


/*Analytics end*/




/*Content end*/