@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
  }
  
  .layout {
    display: flex;
    height: 100vh;
    position: relative;
    gap: 2rem;
  }
  
  .layout__main-content {
    flex-grow: 1;
  }
  
  .sidebar__wrapper {
    position: relative;
  }
  
  .sidebar {
    position: fixed;
    width: 17rem;
    height: 100%;
    background-color: white;
    padding: 1rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    overflow: hidden;
    z-index: 2;
  }
  
  .sidebar__top {
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
  }
  
  .sidebar__logo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 1rem;
  }
  
  .sidebar__logo-name {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .sidebar__list {
    list-style: none;
  }
  
  .sidebar__link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: #edeff0;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
  }
  
  .sidebar__link--active {
    color: #fff;
    background-color: #0D5AC2;
  }
  
  .sidebar__icon {
    display: inline-block;
    font-size: 1.2rem;
  }
  
  .sidebar__name {
    margin-left: 0.5rem;
  }
  
  [data-collapse="true"] {
    width: 5.3rem;
  }
  
  [data-collapse="true"] .sidebar__name,
  [data-collapse="true"] .sidebar__logo-name {
    display: none;
  }
  
  .btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    border: none;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #edeff0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
  }
  
  #exit_btn{
    position: absolute;
    top: 90%;
  }
  